<!DOCTYPE html>
<html>
  <head>
    <title>Soundboard | TransPennine Express</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" />
    <style>
      body {
        color: white;
      }
      #background {
        position: fixed;
        --inset: 10px;
        inset: calc(-1 * var(--inset));
        width: calc(100vw + 2 * var(--inset));
        height: calc(100vh + 2 * var(--inset));
        z-index: -1;
        filter: blur(5px) brightness(25%);
      }

      #burger-holder {
        display: none;
      }

      header {
        background-color: white;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
        color: #00a6e6;
      }
      header nav {
        padding: 4rem 0;
      }
      header .brand img {
        height: 4rem;
      }
      /* mobile menu */
      @media (max-width: 60em) {
        #burger-holder {
          display: block;
          position: fixed;
          bottom: 1rem;
          right: 1rem;
          background-color: white;
          color: #00a6e6;
          font-size: 2rem;
          border-radius: 50%;
          height: 5rem;
          width: 5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 50;
        }
        #burger-holder * {
          transition: none !important;
        }
        header .burger.button {
          font-size: 3rem;
        }
        header .menu {
          display: flex;
          flex-direction: column;
          max-height: 100vh;
        }
        header .menu a:first-child {
          margin-top: auto;
        }
        header .menu a:last-child {
          margin-bottom: 6rem;
        }
        header .menu a {
          transition: none !important;
        }
      }

      main {
        position: relative;
        margin-top: 8rem;
      }
      main > * {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
      main h2 {
        position: sticky;
        top: 8rem;
        background-color: #1e234f;
        color: white;
        margin: 1rem 0;
        padding: 1rem;
        display: flex;
      }
      main h2 .links {
        margin-left: auto;
      }
      main h2 .links a {
        color: #82d0f588;
        text-decoration: underline;
      }
      main .hashlink {
        position: relative;
      }
      main .hashlink .link {
        position: absolute;
        top: -8rem;
      }

      button {
        background: #00a6e6;
      }
      button.active {
        background-color: #9873bd;
      }

      .board {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        gap: 1rem;
      }
      .sound {
        display: flex;
      }
      .sound button.play {
        width: 12.5rem;
        overflow-wrap: anywhere;
        word-break: break-all;
      }
      .sound button.favourite {
        background-color: grey;
        width: 3rem;
        max-width: 3rem;
      }
      .sound button.favourite.favourited {
        background-color: #a6008e;
      }

      #favourites .sound button.favourite {
        background-color: #a6008e;
      }

      footer {
        text-align: center;
        padding-bottom: 4rem;
      }
    </style>

    <audio id="audioplayer" src="./audio/Coach/1071.wav"></audio>
    <script>
      let audioplayer;
      let active;
      let activefave;
      let favourites = [];

      function activate(button) {
        button.classList.add("active");
      }
      function deactivate(button) {
        button.classList.remove("active");
      }

      function play(sound) {
        if (!audioplayer) return;

        // play audio
        audioplayer.load();
        audioplayer.setAttribute("src", sound);
        audioplayer.play();

        // reset old button style
        if (active) deactivate(active);
        if (activefave) deactivate(activefave);

        // set new active
        active = document.getElementById(sound).querySelector(".play");
        console.log("active button:", active);
        activefave = document
          .getElementById(`fave_${sound}`)
          ?.querySelector(".play");

        // add button style
        activate(active);
        if (activefave) activate(activefave);
      }

      // FAVOURITES
      function load_favourites() {
        console.log("loading favourites: ", favourites);
        let favourites_el = document.getElementById("favourites");
        while (favourites_el.firstChild) {
          favourites_el.removeChild(favourites_el.lastChild);
        }
        if (favourites.length == 0) {
          favourites_el.innerText = "no favourites!";
        }
        favourites.forEach((favourite_str) => {
          // original sound
          let sound_el = document.getElementById(favourite_str);
          if (!sound_el) return;
          // set favourite button to red
          sound_el.querySelector(".favourite").classList.add("favourited");

          // clone for favourites section
          let fave_el = sound_el.cloneNode(true);
          // prefix ID with "fave_"
          let id = fave_el.getAttribute("id");
          fave_el.setAttribute("id", `fave_${id}`);
          // if playing, keep track of it with activefave
          let play_button = fave_el.querySelector(".play");
          let is_playing = play_button.classList.contains("active");
          if (is_playing) activefave = play_button;
          // change name (for more context)
          play_button.innerText = id.replace("audio/", "").replace(/.wav$/, "");

          // add to favourites
          favourites_el.appendChild(fave_el);
        });
      }
      function favourite(sound) {
        console.log(`got request to toggle favourite ${sound}`);
        if (favourites.includes(sound)) {
          // remove red favourite button
          let sound_el = document.getElementById(sound);
          sound_el.querySelector(".favourite").classList.remove("favourited");
          // remove sound from favourites array
          favourites = favourites.filter((f) => f != sound);
        } else {
          // add sound to favourites array!
          favourites.push(sound);
          favourites = favourites.toSorted();
        }
        load_favourites();
        // save to browser storage
        localStorage.setItem("favourites", JSON.stringify(favourites));
      }

      document.addEventListener("DOMContentLoaded", () => {
        audioplayer = document.getElementById("audioplayer");
        audioplayer.addEventListener("ended", () => {
          console.group("audio player ended, deactivating:");
          console.log(active);
          console.log(activefave);
          if (active) deactivate(active);
          if (activefave) deactivate(activefave);
          console.groupEnd();
        });
        favourites = JSON.parse(localStorage.getItem("favourites"));
        if (!favourites) favourites = [];
        load_favourites();
      });
    </script>
  </head>

  <body>
    <img id="background" src="./tpe-train.jpg" />
    <!-- responsive-->
    <div id="burger-holder">
      <label for="bmenub" class="burger pseudo button">&#8801;</label>
    </div>
    <header>
      <nav>
        <a href="#top" class="brand">
          <img
            src="tpe-logo_soundboard.svg"
            alt="logo, text is: TransPennine Express Soundboard"
          />
        </a>

        <!-- responsive-->
        <input id="bmenub" type="checkbox" class="show" />
        <label for="bmenub" class="burger pseudo button">&#8801;</label>

        <div class="menu">
          <a href="#favourites-header">Favourites</a>
          {{#TITLES}}
          <a href="#cat-{{ @key }}">{{ . }}</a>
          {{/TITLES}}
        </div>
      </nav>
    </header>
    <main>
      <div class="hashlink"><div class="link" id="top"></div></div>
      <div class="hashlink">
        <div class="link" id="favourites-header"></div>
      </div>
      <h2>Favourites</h2>
      <p>
        These will stay when you close and open the webpage on the same device.
      </p>
      <section class="board" id="favourites"></section>
      <!-- !!start templating!! -->
      <div class="hashlink"><div class="link" id="cat-0"></div></div>
      <h2>
        Coach
        <div class="links">
          <a class="prevlink" href="#cat--1">prev</a>
          ·
          <a class="toplink" href="#top">top</a>
          ·
          <a class="nextlink" href="#cat-1">next</a>
        </div>
      </h2>
      <section class="board">
        {{#Coach}}
        <div class="sound" id="{{ . }}">
          <button class="play" onclick='play("{{ . }}")'>
            {{ soundname . }}
          </button>
          <button class="favourite" onclick='favourite("{{ . }}")'>
            &hearts;
          </button>
        </div>
        {{/Coach}}
      </section>
      <div class="hashlink"><div class="link" id="cat-1"></div></div>
      <h2>
        Doors
        <div class="links">
          <a class="prevlink" href="#cat-0">prev</a>
          ·
          <a class="toplink" href="#top">top</a>
          ·
          <a class="nextlink" href="#cat-2">next</a>
        </div>
      </h2>
      <section class="board">
        {{#Doors}}
        <div class="sound" id="{{ . }}">
          <button class="play" onclick='play("{{ . }}")'>
            {{ soundname . }}
          </button>
          <button class="favourite" onclick='favourite("{{ . }}")'>
            &hearts;
          </button>
        </div>
        {{/Doors}}
      </section>
      <div class="hashlink"><div class="link" id="cat-2"></div></div>
      <h2>
        General
        <div class="links">
          <a class="prevlink" href="#cat-1">prev</a>
          ·
          <a class="toplink" href="#top">top</a>
          ·
          <a class="nextlink" href="#cat-3">next</a>
        </div>
      </h2>
      <section class="board">
        {{#General}}
        <div class="sound" id="{{ . }}">
          <button class="play" onclick='play("{{ . }}")'>
            {{ soundname . }}
          </button>
          <button class="favourite" onclick='favourite("{{ . }}")'>
            &hearts;
          </button>
        </div>
        {{/General}}
      </section>
      <div class="hashlink"><div class="link" id="cat-3"></div></div>
      <h2>
        Misc
        <div class="links">
          <a class="prevlink" href="#cat-2">prev</a>
          ·
          <a class="toplink" href="#top">top</a>
          ·
          <a class="nextlink" href="#cat-4">next</a>
        </div>
      </h2>
      <section class="board">
        {{#Misc}}
        <div class="sound" id="{{ . }}">
          <button class="play" onclick='play("{{ . }}")'>
            {{ soundname . }}
          </button>
          <button class="favourite" onclick='favourite("{{ . }}")'>
            &hearts;
          </button>
        </div>
        {{/Misc}}
      </section>
      <div class="hashlink"><div class="link" id="cat-4"></div></div>
      <h2>
        Reasons
        <div class="links">
          <a class="prevlink" href="#cat-3">prev</a>
          ·
          <a class="toplink" href="#top">top</a>
          ·
          <a class="nextlink" href="#cat-5">next</a>
        </div>
      </h2>
      <section class="board">
        {{#Reasons}}
        <div class="sound" id="{{ . }}">
          <button class="play" onclick='play("{{ . }}")'>
            {{ soundname . }}
          </button>
          <button class="favourite" onclick='favourite("{{ . }}")'>
            &hearts;
          </button>
        </div>
        {{/Reasons}}
      </section>
      <div class="hashlink"><div class="link" id="cat-5"></div></div>
      <h2>
        Safety
        <div class="links">
          <a class="prevlink" href="#cat-4">prev</a>
          ·
          <a class="toplink" href="#top">top</a>
          ·
          <a class="nextlink" href="#cat-6">next</a>
        </div>
      </h2>
      <section class="board">
        {{#Safety}}
        <div class="sound" id="{{ . }}">
          <button class="play" onclick='play("{{ . }}")'>
            {{ soundname . }}
          </button>
          <button class="favourite" onclick='favourite("{{ . }}")'>
            &hearts;
          </button>
        </div>
        {{/Safety}}
      </section>
      <div class="hashlink"><div class="link" id="cat-6"></div></div>
      <h2>
        Stations
        <div class="links">
          <a class="prevlink" href="#cat-5">prev</a>
          ·
          <a class="toplink" href="#top">top</a>
          ·
          <a class="nextlink" href="#cat-7">next</a>
        </div>
      </h2>
      <section class="board">
        {{#Stations}}
        <div class="sound" id="{{ . }}">
          <button class="play" onclick='play("{{ . }}")'>
            {{ soundname . }}
          </button>
          <button class="favourite" onclick='favourite("{{ . }}")'>
            &hearts;
          </button>
        </div>
        {{/Stations}}
      </section>
      <div class="hashlink"><div class="link" id="cat-7"></div></div>
      <h2>
        Times
        <div class="links">
          <a class="prevlink" href="#cat-6">prev</a>
          ·
          <a class="toplink" href="#top">top</a>
          ·
          <a class="nextlink" href="#cat-8">next</a>
        </div>
      </h2>
      <section class="board">
        {{#Times}}
        <div class="sound" id="{{ . }}">
          <button class="play" onclick='play("{{ . }}")'>
            {{ soundname . }}
          </button>
          <button class="favourite" onclick='favourite("{{ . }}")'>
            &hearts;
          </button>
        </div>
        {{/Times}}
      </section>
      <div class="hashlink"><div class="link" id="cat-8"></div></div>
      <h2>
        Toilet
        <div class="links">
          <a class="prevlink" href="#cat-7">prev</a>
          ·
          <a class="toplink" href="#top">top</a>
          ·
          <a class="nextlink" href="#cat-9">next</a>
        </div>
      </h2>
      <section class="board">
        {{#Toilet}}
        <div class="sound" id="{{ . }}">
          <button class="play" onclick='play("{{ . }}")'>
            {{ soundname . }}
          </button>
          <button class="favourite" onclick='favourite("{{ . }}")'>
            &hearts;
          </button>
        </div>
        {{/Toilet}}
      </section>
      <!-- !!end templating!! -->
    </main>
    <footer>
      <p>
        made by <a href="https://alifeee.net/">alifeee</a> ·
        <a href="https://github.com/alifeee/tpe-soundboard">source</a>
      </p>
    </footer>
  </body>
</html>
